<div class="text-center mb-5">
<%= link_to "Browse Teachers", teachers_path, class: 'btn btn-dark'  %>
</div>

<div class="text-center">
  <div class="d-flex justify-content-center mt-4" data-controller="counter">
    <button type="button" class="btn btn-outline-dark" data-action="click->counter#refresh">
      Refresh Counter
      <span class="badge badge-dark" data-counter-target="count">
        <%= @teacher_count %>
      </span>
    </button>
  </div>
</div>


